{% extends 'layout.html' %} {% block content %}

<div class="container py-4">
  <div class="row align-items-md-stretch">
    <div class="h-100 p-5 text-white bg-dark border rounded-3">
      <h2>Prode Qatar 2022</h2>
      <p>Pronosticos deportivos de La Yeta para Qatar 2022</p>
      <button class="btn btn-outline-light" type="button">
        Example button
      </button>
    </div>
  </div>
</div>


  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark border rounded-3">
        <h2>Tus Pronosticos</h2>
        <p>Lista de pronosticos del usuario</p>
        <button class="btn btn-outline-light" type="button">Pronosticar</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark border rounded-3">
        <h2>Tabla de posiciones</h2>
        <p>Tabla de posiciones con el usuario resaltado.</p>
        <button class="btn btn-outline-light" type="button">
          Pronosticos de otros jugadores
        </button>
      </div>
    </div>
  </div>

<div class="container py-4">
    <div class="row align-items-md-stretch">
      <div class="h-100 p-5 text-white bg-dark border rounded-3">
        <h2>Proximos partidos</h2>
        <p>Partidos de Qatar 2022</p>
        <button class="btn btn-outline-light" type="button">
          Google
        </button>
      </div>
    </div>
  </div>

{% endblock %}
