{% extends 'layout.html' %} {% block content %}

  <!-- BASIC PRONOSTICS AND RESULTS -->
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Tus Pronosticos</h2>
        <p>Lista de pronosticos del usuario</p>
        <a href="/pronostics">
          <button class="btn btn-secondary" type="button">Pronosticar</button>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Tabla de posiciones</h2>
        <p>Tabla de posiciones con el <b>usuario resaltado.</b></p>
        <a href="/details">
          <button class="btn btn-secondary" type="button">
          Resultados Detallados
          </button>
        </a>
      </div>
    </div>
  </div>

  <!-- NEXT GAMES -->
<div class="container py-4">
    <div class="row align-items-md-stretch">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Proximos partidos</h2>
        <p>Proximos 5 Partidos de Qatar 2022</p>
        <a href="https://www.fifa.com/tournaments/mens/worldcup/qatar2022/match-center" target="_blank">
          <button class="btn btn-secondary" type="button">
            FIFA World Cup 2022
          </button>
        </a>
      </div>
    </div>
  </div>

  <!-- USER INFORMATION -->
  <div class="container py-4">
    <div class="row align-items-md-stretch">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Usuario</h2>
        <p>Información del usuario</p>
        <a href="/login">
        <button class="btn btn-secondary" type="button">
          Logout
        </button>
      </div>
    </div>
  </div>

{% endblock %}
