{% extends 'base.html' %} {% block content %}

<!-- PRONOSTICAR DETALLADO -->
<div class="container-fluid p-5 text-white bg-dark rounded-3">
  <h1 align="center">New Pronostics</h1>
  
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Game</th>
          <th scope="col"></th>
          <th scope="col">Limit</th>
        </tr>
      </thead>
      <tbody>
        {% for games in user.fixtures %}
          {% if games.date > time %}
            <tr>
            <th scope="row" style="text-align:center" style="vertical-align:middle">{{ games.gameid }}</th>    
            <td>
              <form class="form-inline" method="POST">
                <input type="hidden" name="gameid" value="{{ games.gameid }}">
                <div class="form-group col-md-3">
                  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">{{ games.team1 }}</label>
                </div>
                <div class="form-group col-md-2">
                  <select name="team1goals" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option selected>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                  </select>   
                </div>

                <div class="form-group col-md-3">
                  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">{{ games.team2 }}</label>
                </div>
                <div class="form-group col-md-2">
                  <select name="team2goals" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option selected>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                  </select>  
                </div>
                <div class="form-group col-md-2">
                  <button type="submit" class="btn btn-secondary">Save</button>
                </div>
              </form>
            </td>
            <td style="text-align:center" style="vertical-align:middle">
              {% for prodes in user.prodes %}
                {% if games.gameid == prodes.gameid %}
                  <i class="fa fa-thumbs-up" style="color:#1e6316"></i></td>
                  {% break %}
                {% endif %}
              {% endfor %}
            <td style="text-align:center" style="vertical-align:middle">{{ games.date.strftime('%d/%m %H') }} Hs.</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

<div class="container-fluid p-5 text-white bg-dark rounded-3">
  <h1 align="center">Your Pronostics</h1>
  <ul class="list-group list-group-flush text-white bg-dark" id="notes">
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Game</th>
          <th scope="col">Home</th>
          <th scope="col">Away</th>
          <th scope="col">Advances</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for games in user.fixtures %}
          {% for prodes in user.prodes %}
            {% if games.gameid == prodes.gameid %}
              <tr>
                <th scope="row">{{ prodes.gameid }}</th>
                <td>
                  <div class="row">
                    <div class="form-group col-md-8">
                      {{ games.team1 }} 
                    </div>
                    <div class="form-group col-md-2">
                      {{ prodes.team1goals }} </td>
                    </div>
                  </div>
                <td>
                  <div class="row">
                    <div class="form-group col-md-8">
                      {{ games.team2 }} 
                    </div>
                    <div class="form-group col-md-2">
                      {{ prodes.team2goals }} </td>
                    </div>
                  </div>
                <td>{{ prodes.teamadvance }} </td>
                <td>{{ prodes.date.strftime('%d/%m %H:%M')}} Hs.</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </ul>
</div>

  <!-- USER INFORMATION -->
  <div class="container-fluid p-5 text-white bg-dark rounded-3">
    <div class="row">
      <div class="col-sm">
        <a href="/pronostics">
          <button class="btn btn-secondary" type="button">
            Top
          </button>
        </a>
      </div>
      <div class="col-sm">
        <a href="/logout">
          <button class="btn btn-secondary" type="button">
            Logout
          </button>
        </a>
      </div>
    </div>
  </div>

{% endblock %}