{% extends 'base.html' %} {% block content %}

<!-- RESULTADOS DETALLADO -->
<div class="container-fluid p-5 text-white bg-dark rounded-3">
  <h4>Rules</h4>
  <ol type="1">
    <li>Puntos por partido (PpP):</li>
    <ol type="a">
      <li>
        Acertar el ganadador del partido o si fue empate (LEV): PpP = 3 puntos.
      </li>
      <li>
        Adicional (si se acertó el LEV) por diferencia de gol entre ambos
        equipos es de 1 punto: PpP = 4 puntos.
      </li>
      <li>
        Adicional (si se acertó el LEV) por resultado en el partido es de 2
        puntos: PpP = 5 puntos.
      </li>
    </ol>
    <li>Ponderación por instancia (VdP):</li>
    <ol type="a">
      <li>VdP = 1 para la Fase de grupos.</li>
      <li>VdP = 2 para 8vos de final.</li>
      <li>VdP = 3 para 4tos de final.</li>
      <li>VdP = 4 para semifinal y en el partido por el 3er y 4to puesto.</li>
      <li>VdP = 6 para la final.</li>
    </ol>
    <li>Sumatoria de puntos en tabla general:</li>
    <ol type="a">
      <li>
        P = PpP * VdP. Se multiplican los puntos de cada partido por el valor de
        ponderación (VdP) dependiente de la instancia del torneo.
      </li>
      <li>
        Para obtener la tabla general se suman todos puntos (P) obtenidos en
        cada uno de los partidos.
      </li>
    </ol>
    <li>Criterio de victoria:</li>
    <ol type="a">
      <li>
        Quien obtenga la mayor sumatoria de puntos (P) en la tabla general.
      </li>
    </ol>
    <li>
      Criterio de desempate: De existir un empate entre dos o más jugadores en
      una posición cualquiera sea de la tabla, se definirá la posición final
      entre los involucrados mediante los siguientes métodos:
    </li>
    <ol type="a">
      <li>
        Será asignado a la posición superior quien obtenga mayor cantidad de
        puntos (P) en el partido final.
      </li>
      <li>
        De proseguir el empate, será asignado a la posición superior quien
        obtenga mayor cantidad de puntos (P) en los partidos de semifinal y
        tercer y cuarto puesto.
      </li>
      <li>
        De proseguir el empate, será asignado a la posición superior quien
        obtenga mayor cantidad de puntos (P) en los partidos de cuartos de
        final.
      </li>
      <li>
        De proseguir el empate, será asignado a la posición superior quien
        obtenga mayor cantidad de puntos (P) en los partidos de octavos de
        final.
      </li>
      <li>De proseguir el empate, se realiza un sorteo.</li>
    </ol>
  </ol>
</div>

{% endblock %}
