{% extends "base.html" %} {% block content %}
<body class="text-center">
  <img src="{{ logo_image }}" alt="" width="300" height="300" />
  <main class="form-signin">
    <form method="POST">
      <h3 align="left">Sign Up</h3>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter Email Address"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter Nickname"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter Password"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm Password"
        />
      </div>
      <br />
      <button type="submit" class="w-100 btn btn-dark">Submit</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
    {% endblock %}
  </main>
</body>
